build/
*.o
sv_generator/
*.out.txt.s
*.out
obj_dir/
logs/
*.log
logs/
*.elf
*.txt
*.signature
.vscode/*
__pycache__/*
*/__pycache__/*
riscof/riscof_work/rv32i_m/I/src/*
riscof/riscof_work/database.yaml
riscof/riscof_work/report.html
riscof/riscof_work/test-list.yml
riscof/config.ini
riscof/riscv-arch-test/
riscof/projet/__pycache__/*
riscof/riscof_work/database.yaml
riscof/riscof_work/Makefile.DUT-projet
riscof/riscof_work/Makefile.Reference-spike
riscof/riscof_work/projet_isa_checked.yaml
riscof/riscof_work/test_list.yaml
riscof/sail_cSim/__pycache__/*
riscof/spike/__pycache__/*
synth/*.v
